Repository kuchida1981/friii: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-test, frontend-lint, frontend-test, openspec-validate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Backend checks
      - id: backend-lint
        name: Backend Lint
        entry: docker compose run --rm backend golangci-lint run ./...
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      - id: backend-test
        name: Backend Test (Core 100% Coverage)
        entry: make coverage-backend
        language: system
        files: ^backend/.*\.go$
        pass_filenames: false

      # Frontend checks
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        files: ^frontend/.*\.([tj]sx?|json|css)$
        pass_filenames: false

      - id: frontend-test
        name: Frontend Test
        entry: bash -c "cd frontend && npm test"
        language: system
        files: ^frontend/src/.*\.([tj]sx?)$
        pass_filenames: false

      # OpenSpec Validation (Local)
      - id: openspec-validate
        name: OpenSpec Validate
        entry: npx openspec validate --strict --all
        language: system
        files: ^openspec/.*\.md$
        pass_filenames: false

      # Issue check (Local helper)
      - id: issue-link-check
        name: Issue Link Check (Local)
        entry: |
          bash -c "git rev-parse --abbrev-ref HEAD | grep -qE '^[0-9]+-|#[0-9]+' || echo 'Warning: Branch name should include an issue number (e.g. 123-feature).'"
        language: system
        always_run: true
        pass_filenames: false

fix: Makefile のカバレッジチェックからモックファイルを除外
  Makefile
Due: none

fix: フロントエンドのカバレッジ計測と閾値チェックを有効化
  backend/coverage.out
  frontend/coverage/App.tsx.html
  frontend/coverage/base.css
  frontend/coverage/block-navigation.js
  frontend/coverage/coverage-final.json
  frontend/coverage/favicon.png
  frontend/coverage/index.html
  frontend/coverage/prettify.css
  frontend/coverage/prettify.js
  frontend/coverage/sort-arrow-sprite.png
  frontend/coverage/sorter.js
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-lint

chore: frontend/coverage を git 管理から除外
  frontend/.gitignore
  frontend/coverage/App.tsx.html
  frontend/coverage/base.css
  frontend/coverage/block-navigation.js
  frontend/coverage/coverage-final.json
  frontend/coverage/favicon.png
  frontend/coverage/index.html
  frontend/coverage/prettify.css
  frontend/coverage/prettify.js
  frontend/coverage/sort-arrow-sprite.png
  frontend/coverage/sorter.js
Due: frontend-lint

fix: フロントエンドの分岐網羅率を100%に改善
  .pre-commit-config.yaml
  frontend/src/App.test.tsx
  openspec/changes/archive/2026-02-17-cicd-guardrails/.openspec.yaml
  openspec/changes/archive/2026-02-17-cicd-guardrails/design.md
  openspec/changes/archive/2026-02-17-cicd-guardrails/proposal.md
  openspec/changes/archive/2026-02-17-cicd-guardrails/specs/ci-cd-automation/spec.md
  openspec/changes/archive/2026-02-17-cicd-guardrails/specs/environment-setup/spec.md
  openspec/changes/archive/2026-02-17-cicd-guardrails/specs/local-quality-control/spec.md
  openspec/changes/archive/2026-02-17-cicd-guardrails/specs/testing-infrastructure/spec.md
  openspec/changes/archive/2026-02-17-cicd-guardrails/tasks.md
  openspec/specs/accounting-core/spec.md
  openspec/specs/client-management/spec.md
  openspec/specs/environment-setup/spec.md
  openspec/specs/excellent-book-compliance/spec.md
  openspec/specs/financial-reporting/spec.md
  openspec/specs/testing-infrastructure/spec.md
  package.json
Due: frontend-lint, frontend-test, openspec-validate

fix: frontend テストの引数重複を解消
  .github/workflows/ci.yml
Due: none

fix: コードレビューの指摘対応 (gitignore追加) および pre-commit 調整
  backend/.gitignore
  backend/coverage.out
  frontend/.gitignore
  frontend/.vite/deps/_metadata.json
  frontend/.vite/deps/package.json
Due: frontend-lint

fix: CI でのバックエンドカバレッジチェックからモックを除外
  .github/workflows/ci.yml
Due: none

fix: pre-commit の Docker 実行設定を修正 (no-TTY対応)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/cmd/friii/main_test.go
  backend/internal/interface/graphql/resolver_test.go
Due: backend-lint, backend-test

fix: CI のバックエンドカバレッジ判定ロジックを現実的な方法に修正
  .github/workflows/ci.yml
Due: none

docs: CI/CD ガードレール関連の仕様をメインディレクトリに同期
  openspec/specs/ci-cd-automation/spec.md
  openspec/specs/environment-setup/spec.md
  openspec/specs/local-quality-control/spec.md
  openspec/specs/testing-infrastructure/spec.md
Due: openspec-validate

fix: OpenSpec ワークフローをグローバルインストール方式に変更
  .github/workflows/check-openspec.yml
Due: none

chore: AI Agent 開発ルールと PR テンプレートの追加
  .agent/RULES.md
  .clauderules
  .gemini/GEMINI.md
  .github/pull_request_template.md
Due: none

fixed
  .agent/RULES.md
Due: none

docs: データモデルとDB実装の提案書（Proposal）を追加
  openspec/changes/implement-data-model-and-db/proposal.md
Due: openspec-validate

docs: データモデル実装のための仕様・設計・タスクを追加
  openspec/changes/implement-data-model-and-db/.openspec.yaml
  openspec/changes/implement-data-model-and-db/design.md
  openspec/changes/implement-data-model-and-db/specs/accounting-core/spec.md
  openspec/changes/implement-data-model-and-db/specs/excellent-book-compliance/spec.md
  openspec/changes/implement-data-model-and-db/specs/journal-entry-persistence/spec.md
  openspec/changes/implement-data-model-and-db/specs/master-data-versioning/spec.md
  openspec/changes/implement-data-model-and-db/tasks.md
Due: openspec-validate

feat: 不変仕訳・世代管理マスターのデータモデル実装 (リンター・カバレッジ修正済)
  Makefile
  backend/.golangci.yml
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  backend/internal/domain/entity/account_item.go
  backend/internal/domain/entity/account_item_test.go
  backend/internal/domain/entity/journal.go
  backend/internal/domain/entity/journal_test.go
  backend/internal/domain/entity/partner.go
  backend/internal/domain/repository/account.go
  backend/internal/domain/repository/journal.go
  backend/internal/domain/repository/journal_mock.go
  backend/internal/domain/repository/partner.go
  backend/internal/infrastructure/persistence/account_repository.go
  backend/internal/infrastructure/persistence/db.go
  backend/internal/infrastructure/persistence/integration_test.go
  backend/internal/infrastructure/persistence/journal_repository.go
  backend/internal/infrastructure/persistence/migrations/000001_create_account_categories.down.sql
  backend/internal/infrastructure/persistence/migrations/000001_create_account_categories.up.sql
  backend/internal/infrastructure/persistence/migrations/000002_seed_account_categories.down.sql
  backend/internal/infrastructure/persistence/migrations/000002_seed_account_categories.up.sql
  backend/internal/infrastructure/persistence/migrations/000003_create_partners.down.sql
  backend/internal/infrastructure/persistence/migrations/000003_create_partners.up.sql
  backend/internal/infrastructure/persistence/migrations/000004_create_account_items.down.sql
  backend/internal/infrastructure/persistence/migrations/000004_create_account_items.up.sql
  backend/internal/infrastructure/persistence/migrations/000005_create_journals.down.sql
  backend/internal/infrastructure/persistence/migrations/000005_create_journals.up.sql
  backend/internal/infrastructure/persistence/migrations/000006_prevent_journal_modifications.down.sql
  backend/internal/infrastructure/persistence/migrations/000006_prevent_journal_modifications.up.sql
  backend/internal/infrastructure/persistence/partner_repository.go
  backend/internal/usecase/journal_usecase.go
  backend/internal/usecase/journal_usecase_test.go
  docker-compose.yml
  openspec/changes/implement-data-model-and-db/tasks.md
Due: backend-lint, backend-test, openspec-validate

docs: データベース操作とマイグレーション手順を DEVELOPMENT.md に追加
  DEVELOPMENT.md
Due: none

chore: DDLにテーブル/カラムコメントを追加し created_at を NOT NULL に修正
  backend/internal/infrastructure/persistence/migrations/000001_create_account_categories.up.sql
  backend/internal/infrastructure/persistence/migrations/000003_create_partners.up.sql
  backend/internal/infrastructure/persistence/migrations/000004_create_account_items.up.sql
  backend/internal/infrastructure/persistence/migrations/000005_create_journals.up.sql
Due: none

chore: account_categories の UUID をランダム化し、ルックアップ方式に変更
  backend/internal/infrastructure/persistence/migrations/000002_seed_account_categories.up.sql
  backend/internal/infrastructure/persistence/migrations/000007_seed_account_items.up.sql
Due: none

docs: OpenSpec 仕様の同期と実装のアーカイブ (Issue #2)
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/.openspec.yaml
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/design.md
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/proposal.md
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/specs/accounting-core/spec.md
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/specs/excellent-book-compliance/spec.md
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/specs/journal-entry-persistence/spec.md
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/specs/master-data-versioning/spec.md
  openspec/changes/archive/2026-02-17-implement-data-model-and-db/tasks.md
  openspec/specs/accounting-core/spec.md
  openspec/specs/excellent-book-compliance/spec.md
  openspec/specs/journal-entry-persistence/spec.md
  openspec/specs/master-data-versioning/spec.md
Due: openspec-validate

fix: OpenSpec バリデーション修正とエージェント向け手動チェックルールの追加
  .agent/RULES.md
  openspec/specs/journal-entry-persistence/spec.md
Due: openspec-validate
